[Unit]
Description=nimopidy
After=network.target

[Service]
PIDFile=/home/nim/web/nimopidy/.pid
WorkingDirectory=/home/nim/web/nimopidy
EnvironmentFile=-/etc/django/%i.conf
ExecStart=/usr/bin/env /home/nim/.virtualenvs/nimopidy/bin/gunicorn --config conf/gunicorn.conf.py --pid /run/nimopidy nimopidy.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target

